@font-face {
    font-family: "KronaOne-Regular";
    src: url(/assets/fonts/KronaOne-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Montserrat-Regular";
    src: url(/assets/fonts/Montserrat-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #000000ff;
    overflow-y: hidden;
    overflow-x: hidden;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.loading-text {
    font-family: KronaOne-Regular;
    font-weight: 50;
    font-size: 30px;
    color: #B1E804ff;
    margin-left: 3.5rem;
    margin-bottom: 1rem;
}

.loading-container {
    text-align: center;
    color: white;
}

.spinner {
    border: 8px solid rgba(97, 0, 233, 1);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 0 auto 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    font-size: 1.2rem;
    font-weight: 300;
}